body {
    background-color:antiquewhite;
    color: crimson;
    font-family: sans-serif;
    padding 20px;
}

input{
     display:list-item
     width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 4px;
    font-size: 16px;

      background-color: #fff8dc;
      color: #990000;
      border: 1px solid #dc143c

}

button{
      display:list-item;
      width: 15%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      font-size: 16px;
      font font-weight: bold;
      cursor: pointer;         

    background-color: crimson;   
    color: antiquewhite;
}

.workout-machine {

       display: flex;
       align-items:flex-start;
       gap: 30px;
       margin-top: 20px;


}
.UPPER-LOWER{
        display: flex;
       align-items:flex-start;
       gap: 30px;
       margin-top: 20px;

}

.PPl{
     display: flex;
       align-items:flex-start;
       gap: 30px;
       margin-top: 20px;
}

.dashboard-nav{
       display:flex;
       justify-content:space-between;
       align-items: self-start;
       padding:40px
}
.goat-content{
       max-width:60%;
}

.side-nav{
       display:flex;
       flex-direction: column;
       text-align: right;
       text-decoration: none;
       color: #333;
       font-family: arial, sans-serif;
       font-weight: bold;
       transition: all 0.3s ease;
}
.calorie{
       display:list-item;
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
      border: none;
      font-size: 20px;
      font font-weight: bold;
      cursor: pointer;         

    background-color: crimson;   
    color: antiquewhite;
}

.progress{
      display:list-item;
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
      border: none;
      font-size: 20px;
      font font-weight: bold;
      cursor: pointer;         

    background-color: crimson;   
    color: antiquewhite;

}

.splits{
       display:list-item;
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
      border: none;
      font-size: 20px;
      font font-weight: bold;
      cursor: pointer;         

    background-color: crimson;   
    color: antiquewhite;
}

.side-nav{
       display:flex;
       flex-direction: column;
       gap: 15px;
       align-items: self-end;
}
